CRUX_PROJECT_ID=proj_your_project_id
CRUX_ENVIRONMENT_ID=env_your_environment_id
ROOM_REGISTRY_HOST=127.0.0.1
ROOM_REGISTRY_PORT=8787
CRUX_BASE_URL=https://crux.supercraft.host/v1
VITE_ROOM_DISCOVERY_URL=/api/rooms
